# Gradle
.gradle/
**/build/

# Local configuration
local.properties

# Logs
*.log

# Android Studio / IntelliJ
.idea/
*.iml

# IDE artifacts
.DS_Store
Thumbs.db

# Android specific
captures/
.externalNativeBuild/
.cxx/
*.apk
*.ap_
*.aab
output.json

# Keystore
*.jks
*.keystore

# Google Services / Firebase
google-services.json

# Android Profiling
*.hprof

# Room schema
/schemas/